body {
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1 {

    font-size: 6rem;
    font-family: 'Sacramento', cursive;
    color: #66BFBF;
    margin: 50px auto 0 auto;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

a {
    color: #11999E;
}

.self {
    height: 200px;
    width: 200px;
}

.rocket {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.graphic {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.fast {
    width: 25%;
    float: left;
    margin-left: 30px;
}

.top-container {
    margin: 0px;
    background-color: #E7F6F2;
    padding-top: 100px;
    position: relative;
}

.middle-container {
    margin: 0px;
}

.bottom-container {
    margin: 0px;
    background-color: #66BFBF;
    padding: 30px;
}

.classic {
    text-decoration: wavy;
    text-decoration: underline;
}

.bottom-cloud {
    position: absolute;
    left: 200px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;

}

.p {
    color: #40514E;
    line-height: 2;
}

hr {
    border: dotted grey 5px;
    border-bottom: none;
    height: 0px;
    width: 10%;
    background-color: white;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
}

.name {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.footer-link {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 20px 20px;
    text-decoration: none;
}

.footer-link:hover {
    color: #EAF6F6;
}